

/* .signup-body {
  /* background: #007bff; */
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
  /* background : #BB2D3B; */

  .business-card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    /* background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512'); */
    background: scroll center url('../../Images/business_front.jpg');
    background-size: cover;
  }
  
  .business-h3 {
      font-size: 40px;
      font-family: "ElMessiri-SemiBold";
      text-align: center;
      margin-bottom: 27px;
      color: #E00707;
  }
  
  .btn-business {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
